{{#if posts.length}}
<div>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}
</div>
{{/if}}

<button type = "submit" class = "btn"><a class = "link" href = "/dashboard/new">Create new post</a></button>

<script src = "/javascript/addpost.js"></script>